<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AprilRegressionSuite">
<listeners>
<listener class-name="generic.MyTestListeners"></listener>
</listeners>
  <test thread-count="5" name="TestInFirefox">
    <classes>
      <class name="scripts.TestValidLogin"/>
      <class name="scripts.TestInvalidLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
